In [10]:
import pandas as pd
import ast
import time
import requests
rubq_test = pd.read_csv('mintaka_test_dates.csv')

In [11]:
rubq_test

,id,question,entities,category,complexityType,answerType,answerLabel,filt,one_hop_rels,subjects,possible_rel,ans,amount,rel_pred,prop_gen,bela_base,bela_base_ents
0,3672da64,In what year did Kaley Cuoco play Cassie Bowde...,"[{'name': 'Q55635222', 'entityType': 'entity',...",movies,generic,date,2020,1.0,NaN,"Q55635222, Q16759",P582,2022-05-26T00:00:00Z,1.0,P580,P571,"[{'offsets': [3, 8, 8, 13, 17, 17, 17, 17, 17,...","Q16759, Q55635222, Q6570684, Q101539, Q15416, ..."
1,1a18c66d,In what year was Edward Furlong born?,"[{'name': 'Q309631', 'entityType': 'entity', '...",movies,generic,date,1977,1.0,NaN,Q309631,P569,1977-08-02T00:00:00Z,1.0,P569,P569,"[{'offsets': [8, 8, 17, 17, 17, 17, 24, 27], '...","Q309631, Q577"
2,e35eecdd,What year was Amy Adams born?,"[{'name': 'Q481832', 'entityType': 'entity', '...",movies,generic,date,1974,1.0,NaN,Q481832,P569,1974-08-20T00:00:00Z,1.0,P569,P569,"[{'offsets': [5, 5, 14, 14, 14, 18], 'lengths'...","Q481832, Q577"
3,7cf65dee,In which year was Mark Hamill born?,"[{'name': 'Q210447', 'entityType': 'entity', '...",movies,generic,date,1951,1.0,NaN,Q210447,P569,1951-09-25T00:00:00Z,1.0,P569,P569,"[{'offsets': [3, 9, 9, 18, 18, 18, 18, 23, 28]...","Q210447, Q577, Q23015077"
4,1a905906,What year did Brad Pitt's acting career begin?,"[{'name': 'Q35332', 'entityType': 'entity', 'l...",movies,generic,date,1987,1.0,NaN,Q35332,P569,1963-12-18T00:00:00Z,1.0,P580,P571,"[{'offsets': [5, 5, 14, 14, 19, 26, 26, 26, 33...","Q35332, Q222749, Q33999, Q282049, Q577"
5,74adcb0b,What year was Betty White born in?,"[{'name': 'Q373895', 'entityType': 'entity', '...",movies,generic,date,1922,1.0,NaN,Q373895,P569,1922-01-17T00:00:00Z,1.0,P569,P569,"[{'offsets': [0, 5, 5, 14, 14, 20], 'lengths':...","Q373895, Q577, Q3186692"
6,7f56e1b9,In what year was the first Jurassic movie rele...,"[{'name': 'Q2336369', 'entityType': 'entity', ...",movies,generic,date,1993,1.0,NaN,Q2336369,P577,1993-06-11T00:00:00Z,1.0,P577,P571,"[{'offsets': [8, 8, 17, 21, 21, 21, 21, 27, 27...","Q2336369, Q167726, Q45805, Q577, Q11424"
7,30cc5bd6,When was the James Bond movie Goldfinger relea...,"[{'name': 'Q106440', 'entityType': 'entity', '...",movies,generic,date,1964,1.0,NaN,"Q106440, Q844",P577,1964-09-17T00:00:00Z,1.0,P577,P9946,"[{'offsets': [13, 13, 13, 13, 19, 19, 24, 30, ...","Q106440, Q844, Q151472"
8,20d55fcc,When was One Hundred and One Dalmatians produced?,"[{'name': 'Q165512', 'entityType': 'entity', '...",movies,generic,date,1961,1.0,NaN,Q165512,P577,1961-01-25T00:00:00Z,1.0,P577,P2754,"[{'offsets': [0, 9, 9, 9, 9, 9, 9, 13, 17, 21,...","Q165512, Q17504"
9,62e016bf,What year was the song Regulate by Warren G. a...,"[{'name': 'Q47159', 'entityType': 'entity', 'l...",music,generic,date,1994,1.0,NaN,"Q47159, Q7309633, Q319585",P569,1969-08-19T00:00:00Z,1.0,P571,P264,"[{'offsets': [18, 23, 23, 23, 23, 29, 35, 35, ...","Q47159, Q319585, Q7309633"
10,e93271e3,When did Queen release the song Bohemian Rhaps...,"[{'name': 'Q15862', 'entityType': 'entity', 'l...",music,generic,date,1975,1.0,NaN,"Q15862, Q187745",P571,1970-01-01T00:00:00Z,1.0,P175,P9946,"[{'offsets': [9, 9, 9, 23, 27, 32, 32, 32, 32,...","Q187745, Q15862"
11,9e52c6d5,When was Aerosmith founded?,"[{'name': 'Q126826', 'entityType': 'entity', '...",music,generic,date,1970,1.0,NaN,Q126826,P571,1969-01-01T00:00:00Z,1.0,P571,P571,"[{'offsets': [9, 9, 13], 'lengths': [4, 9, 5],...",Q126826
12,a16f4a12,What year did Michael Jackson die?,"[{'name': 'Q2831', 'entityType': 'entity', 'la...",music,generic,date,2009,1.0,NaN,Q2831,P569,1958-08-29T00:00:00Z,1.0,P570,P570,"[{'offsets': [5, 5, 14, 14, 14, 22], 'lengths'...","Q2831, Q577"
13,5ce112df,When was the Eagles founded?,"[{'name': 'Q189635', 'entityType': 'entity', '...",music,generic,date,1971,1.0,NaN,Q189635,P571,1971-01-01T00:00:00Z,1.0,P571,P571,"[{'offsets': [9, 13, 13, 13, 18], 'lengths': [...",Q189635
14,88a95e1f,What year did the AFL merge with the NFL?,"[{'name': 'Q1215884', 'entityType': 'entity', ...",sports,generic,date,1970,1.0,NaN,"Q1215884, Q464508",P571,1920-01-01T00:00:00Z,1.0,P582,P571,"[{'offsets': [5, 18, 18, 18, 18, 19, 19, 22, 3...","Q1215884, Q464508, Q431972, Q577"
15,1210528f,When were the Dallas Cowboys founded?,"[{'name': 'Q204862', 'entityType': 'entity', '...",sports,generic,date,1960,1.0,NaN,Q204862,P571,1960-01-01T00:00:00Z,1.0,P571,P571,"[{'offsets': [14, 14, 14, 14, 14, 14, 14, 21, ...",Q204862
16,d1434862,When was The 42nd Parallel?,"[{'name': 'Q20664267', 'entityType': 'entity',...",books,generic,date,1930,1.0,NaN,Q20664267,P577,1930-01-01T00:00:00Z,1.0,P582,P571,"[{'offsets': [9, 9, 9, 9, 9, 13, 13, 15, 18, 1...","Q1391085, Q1072373, Q2616289"
17,b5c4ac8f,What year was the first Chronicles of Narnia b...,"[{'name': 'Q483412', 'entityType': 'entity', '...",books,generic,date,1950,1.0,NaN,Q483412,P577,1950-01-01T00:00:00Z,1.0,P571,P571,"[{'offsets': [5, 14, 18, 24, 24, 24, 24, 24, 2...",Q483412
18,dece97d5,What year was the first book in the Hunger Gam...,"[{'name': 'Q11679', 'entityType': 'entity', 'l...",books,generic,date,2008,1.0,NaN,Q11679,P577,2008-01-01T00:00:00Z,1.0,P577,P571,"[{'offsets': [18, 24, 36, 36, 36, 43, 43, 49],...","Q11679, Q571, Q1148268"
19,62a3d527,When was Harry Potter and the Sorcerer's Stone...,"[{'name': 'Q43361', 'entityType': 'entity', 'l...",books,generic,date,1997,1.0,NaN,Q43361,P577,1997-06-26T00:00:00Z,1.0,P577,P571,"[{'offsets': [9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9,...","Q43361, Q216930, Q8337"
20,53823c16,When was the Lord of the Rings first published?,"[{'name': 'Q15228', 'entityType': 'entity', 'l...",books,generic,date,1954,1.0,NaN,Q15228,P577,1954-01-01T00:00:00Z,1.0,P571,P571,"[{'offsets': [13, 13, 13, 25, 29], 'lengths': ...",Q15228
21,2095e40c,When did George Orwell die?,"[{'name': 'Q3335', 'entityType': 'entity', 'la...",books,generic,date,1950,1.0,NaN,Q3335,P569,1903-06-25T00:00:00Z,1.0,P582,P570,"[{'offsets': [0, 9, 9, 9, 16, 18], 'lengths': ...",Q3335
22,d9853c38,When was It published?,"[{'name': 'Q602288', 'entityType': 'entity', '...",books,generic,date,1986,1.0,NaN,Q602288,P577,1986-09-15T00:00:00Z,1.0,P571,P577,"[{'offsets': [9, 9], 'lengths': [2, 12], 'enti...",Q1943651
23,4e2f3db4,What year was the Statue of Liberty dedicated?,"[{'name': 'Q9202', 'entityType': 'entity', 'la...",geography,generic,date,1886,1.0,NaN,Q9202,P571,1886-01-01T00:00:00Z,1.0,P571,P571,"[{'offsets': [5, 5, 18, 18, 18, 22, 28], 'leng...","Q9202, Q577"
24,b07cd134,When was the Taj Mahal built?,"[{'name': 'Q9141', 'entityType': 'entity', 'la...",geography,generic,date,1632,1.0,NaN,Q9141,P571,1631-01-01T00:00:00Z,1.0,P571,P571,"[{'offsets': [13, 13, 13, 17], 'lengths': [3, ...",Q9141
25,1a056785,What year was Boston settled?,"[{'name': 'Q100', 'entityType': 'entity', 'lab...",geography,generic,date,1630,1.0,NaN,Q100,P571,1630-09-17T00:00:00Z,1.0,P580,P571,"[{'offsets': [5, 5, 14, 14, 14, 21], 'lengths'...","Q100, Q918254, Q577"
26,4f57ab40,What year did the construction of the Leaning ...,"[{'name': 'Q39054', 'entityType': 'entity', 'l...",geography,generic,date,1173,1.0,NaN,Q39054,P571,1173-01-01T00:00:00Z,1.0,P571,P571,"[{'offsets': [5, 18, 34, 38, 38, 38, 38, 38, 3...","Q39054, Q577"
27,d4f8c8c1,When did Georgia join the United States?,"[{'name': 'Q30', 'entityType': 'entity', 'labe...",politics,generic,date,1788,1.0,NaN,"Q30, Q1428",P571,1784-05-12T00:00:00Z,1.0,P580,P571,"[{'offsets': [0, 9, 9, 9, 17, 26, 26, 33], 'le...","Q1428, Q30, Q906228"
28,e739052a,In which year did Israel become a country?,"[{'name': 'Q801', 'entityType': 'entity', 'lab...",politics,generic,date,1948,1.0,NaN,Q801,P571,1948-05-14T00:00:00Z,1.0,P571,P571,"[{'offsets': [3, 3, 9, 9, 14, 18, 18, 18, 34],...","Q801, Q6256, Q577, Q8050977"
29,9e863484,When was Winston Churchill born?,"[{'name': 'Q8016', 'entityType': 'entity', 'la...",history,generic,date,1874-11-30,1.0,NaN,Q8016,P569,1874-11-30T00:00:00Z,1.0,P569,P569,"[{'offsets': [9, 9, 9, 17], 'lengths': [7, 17,...",Q8016
30,20564bcd,When did the Ming Dynasty end?,"[{'name': 'Q9903', 'entityType': 'entity', 'la...",history,generic,date,1644,1.0,NaN,Q9903,P571,1368-01-01T00:00:00Z,1.0,P582,P582,"[{'offsets': [0, 9, 13, 13, 13, 13, 14, 18, 22...",Q9903
31,b635355b,What year was the Christmas Truce of WW I?,"[{'name': 'Q361', 'entityType': 'entity', 'lab...",history,generic,date,1914,1.0,NaN,Q361,P582,1918-11-11T00:00:00Z,1.0,P585,P735,"[{'offsets': [5, 18, 18, 18, 18, 28, 31, 37, 3...","Q361, Q163730, Q19809, Q19776, Q543461, Q577"
32,b8b938da,What year did the Vietnam War end?,"[{'name': 'Q8740', 'entityType': 'entity', 'la...",history,generic,date,1975,1.0,NaN,Q8740,P582,1975-04-30T00:00:00Z,1.0,P582,P582,"[{'offsets': [0, 5, 18, 18, 18, 26], 'lengths'...","Q8740, Q577, Q881"
33,b5939489,What year did Mother Teresa die?,"[{'name': 'Q30547', 'entityType': 'entity', 'l...",history,generic,date,1997,1.0,NaN,Q30547,P569,1910-08-26T00:00:00Z,1.0,P570,P570,"[{'offsets': [0, 5, 5, 14, 14, 14, 21], 'lengt...","Q30547, Q577"
34,77488588,When did the American Civil War end?,"[{'name': 'Q8676', 'entityType': 'entity', 'la...",history,generic,date,1865,1.0,NaN,Q8676,P582,1865-04-09T00:00:00Z,1.0,P582,P582,"[{'offsets': [13, 13, 13, 22, 28], 'lengths': ...",Q8676
35,025f5aba,When did World War I begin?,"[{'name': 'Q361', 'entityType': 'entity', 'lab...",history,generic,date,1914,1.0,NaN,Q361,P582,1918-11-11T00:00:00Z,1.0,P580,P580,"[{'offsets': [9, 9, 15, 19], 'lengths': [5, 11...",Q361
36,8294c740,What year did the first Opium War start?,"[{'name': 'Q191282', 'entityType': 'entity', '...",history,generic,date,1839,1.0,NaN,Q191282,P582,1842-08-29T00:00:00Z,1.0,P580,P580,"[{'offsets': [5, 18, 24, 24, 24, 26, 30], 'len...","Q220984, Q191282, Q46452, Q577"
37,fc27b422,What year did the Korean War begin?,"[{'name': 'Q8663', 'entityType': 'entity', 'la...",history,generic,date,1950,1.0,NaN,Q8663,P582,1953-07-27T00:00:00Z,1.0,P580,P580,"[{'offsets': [5, 18, 18, 25], 'lengths': [4, 6...","Q8663, Q577, Q18097"
38,b622ceaf,When did Aristotle die?,"[{'name': 'Q868', 'entityType': 'entity', 'lab...",history,generic,date,322 BC,1.0,NaN,Q868,P569,-0383-01-01T00:00:00Z,1.0,P570,P570,"[{'offsets': [0, 9, 9, 9, 15], 'lengths': [18,...",Q868
39,76e80514,What year did the NBA merge with the ABA?,"[{'name': 'Q463486', 'entityType': 'entity', '...",sports,generic,date,1976,1.0,NaN,"Q463486, Q155223",P571,1967-01-01T00:00:00Z,1.0,P582,P571,"[{'offsets': [5, 18, 18, 22, 37, 37, 37], 'len...","Q155223, Q463486, Q4650027, Q577"
40,1a44369f,What year did the US Civil War end?,"[{'name': 'Q8676', 'entityType': 'entity', 'la...",history,generic,date,1865,1.0,NaN,Q8676,P582,1865-04-09T00:00:00Z,1.0,P582,P582,"[{'offsets': [5, 5, 18, 18, 18, 21, 27], 'leng...","Q8676, Q577"
41,5b706bef,On what date was the Sony PlayStation first re...,"[{'name': 'Q17', 'entityType': 'entity', 'labe...",videogames,generic,date,1994-12-03,1.0,NaN,"Q17, Q10677",P571,1947-05-03T00:00:00Z,1.0,P577,P571,"[{'offsets': [8, 21, 21, 26, 56], 'lengths': [...","Q10677, Q17, Q41187, Q205892"
42,20ea9cbb,What year did the original Pac-Man game come out?,"[{'name': 'Q173626', 'entityType': 'entity', '...",videogames,generic,date,1980,1.0,NaN,Q173626,P577,1980-05-22T00:00:00Z,1.0,P571,P571,"[{'offsets': [0, 5, 5, 14, 18, 18, 18, 18, 27,...","Q173626, Q4485157, Q6645924, Q6593280"
43,fb6d3a8c,What year was the original Doom game released?,"[{'name': 'Q189784', 'entityType': 'entity', '...",videogames,generic,date,1993,1.0,NaN,Q189784,P571,"1993-01-01T00:00:00Z, 1993-12-10T00:00:00Z, 19...",1.0,P571,P571,"[{'offsets': [5, 14, 18, 18, 18, 18, 27, 27, 2...","Q189784, Q7889, Q577, Q655219"
44,b2f9e517,When did Gravity Rush 2 come out?,"[{'name': 'Q23013629', 'entityType': 'entity',...",videogames,generic,date,2017-01-18,1.0,NaN,Q23013629,P577,2017-01-17T00:00:00Z,1.0,P577,P582,"[{'offsets': [9, 9, 9, 9, 9, 9, 13, 17, 22], '...","Q23013629, Q1188513"
45,1d484210,What year was Flappy Bird released?,"[{'name': 'Q15707420', 'entityType': 'entity',...",videogames,generic,date,2013-05-24,1.0,NaN,Q15707420,P577,2013-05-01T00:00:00Z,1.0,P577,P571,"[{'offsets': [0, 0, 5, 5, 14, 14, 14, 14, 17, ...","Q15707420, Q577, Q6645924"
46,1199d6b7,In what year was the original PlayStation rele...,"[{'name': 'Q10677', 'entityType': 'entity', 'l...",videogames,generic,date,1994,1.0,NaN,Q10677,P577,1994-12-03T00:00:00Z,1.0,P577,P571,"[{'offsets': [8, 21, 30], 'lengths': [4, 20, 1...","Q10677, Q577"
47,7607b6a0,When was FIFA 22 released?,"[{'name': 'Q96482598', 'entityType': 'entity',...",videogames,generic,date,2021-10-01,1.0,NaN,Q96482598,P577,2021-10-01T00:00:00Z,1.0,P571,P571,"[{'offsets': [9, 9, 9, 14], 'lengths': [4, 7, ...","Q96482598, Q253414"
48,a38248c1,When did Saints Row 2 come out?,"[{'name': 'Q2006628', 'entityType': 'entity', ...",videogames,generic,date,2008-10-14,1.0,NaN,Q2006628,P577,2008-05-29T00:00:00Z,1.0,P577,P582,"[{'offsets': [0, 9, 9, 9, 9, 9, 14, 16, 20], '...",Q2006628
49,2a760002,When did Crash bandicoot come out in the US?,"[{'name': 'Q30', 'entityType': 'entity', 'labe...",videogames,generic,date,1996-09-09,1.0,NaN,"Q30, Q507898",P571,1784-05-12T00:00:00Z,1.0,P495,P571,"[{'offsets': [9, 9, 9, 9, 9, 13, 15, 19, 22, 4...","Q719176, Q30, Q1063506, Q11515015, Q507898, Q9..."
50,43633899,What year was Pitfall first released?,"[{'name': 'Q1573878', 'entityType': 'entity', ...",videogames,generic,date,1982,1.0,NaN,Q1573878,P577,1982-04-20T00:00:00Z,1.0,P571,P571,"[{'offsets': [5, 5, 14, 14, 17], 'lengths': [4...","Q1573878, Q6645924, Q577"
51,68a2cc62,What year was the first Doom released?,"[{'name': 'Q189784', 'entityType': 'entity', '...",videogames,generic,date,1993,1.0,NaN,Q189784,P571,"1993-01-01T00:00:00Z, 1993-12-10T00:00:00Z, 19...",1.0,P571,P571,"[{'offsets': [5, 18, 24, 24, 24, 26], 'lengths...","Q189784, Q577"
52,8b8cbc4f,When did Call of Duty come out?,"[{'name': 'Q192156', 'entityType': 'entity', '...",videogames,generic,date,2003-10-29,1.0,NaN,Q192156,P571,"2003-10-29T00:00:00Z, 2003-11-07T00:00:00Z",1.0,P31,P571,"[{'offsets': [0, 9, 9, 9, 9, 9, 14, 17], 'leng...",Q192156
53,4353dcb3,What year was Roblox released?,"[{'name': 'Q692989', 'entityType': 'entity', '...",videogames,generic,date,2006-09-01,1.0,NaN,Q692989,P577,2006-09-01T00:00:00Z,1.0,P571,P571,"[{'offsets': [0, 5, 5, 14, 14, 14, 14, 17, 19]...","Q692989, Q577"
54,53ed794e,When did Friday Night Funkin come out?,"[{'name': 'Q105731119', 'entityType': 'entity'...",videogames,generic,date,2020-10-05,1.0,NaN,Q105731119,P577,2020-11-01T00:00:00Z,1.0,P577,P571,"[{'offsets': [0, 9, 9, 9, 9, 9, 9, 16, 22, 26]...",Q105731119
55,716e77a3,When did Madden 21 come out?,"[{'name': 'Q96240062', 'entityType': 'entity',...",videogames,generic,date,2020-08-28,1.0,NaN,Q96240062,P6949,"2020-01-01T00:00:00Z, 2020-08-28T00:00:00Z",1.0,P571,P571,"[{'offsets': [9, 9, 9, 9, 9, 14, 16], 'lengths...","Q96240062, Q1883234"
56,e1db2375,When did Madden 25 come out?,"[{'name': 'Q16267651', 'entityType': 'entity',...",videogames,generic,date,2013-08-27,1.0,NaN,Q16267651,P577,2013-08-27T00:00:00Z,1.0,P571,P571,"[{'offsets': [9, 9, 9, 9, 9, 14, 16], 'lengths...","Q16267651, Q1883234"

In [12]:
import numpy as np
from tqdm import tqdm

In [13]:
for k in tqdm(range(len(rubq_test))):
    
    inds = np.argsort(ast.literal_eval(rubq_test.loc[k, 'bela_base'])[0]['el_scores'])[::-1]

    ents_sort =[ast.literal_eval(rubq_test.loc[k, 'bela_base'])[0]['entities'][i] for i in inds]
    offsets_sort = [ast.literal_eval(rubq_test.loc[k, 'bela_base'])[0]['offsets'][i] for i in inds]
    lengths_sort = [ast.literal_eval(rubq_test.loc[k, 'bela_base'])[0]['lengths'][i] for i in inds]
    el_scores = [ast.literal_eval(rubq_test.loc[k, 'bela_base'])[0]['el_scores'][i] for i in inds]

    cur_set = set()

    fin_ents = []
    fin_offsets = []
    fin_lengths = []
    fin_el_scores = []

    for j in range(len(ents_sort)):
        if ents_sort[j] not in cur_set:
            cur_set.add(ents_sort[j])
            fin_ents.append(ents_sort[j])
            fin_offsets.append(offsets_sort[j])
            fin_lengths.append(lengths_sort[j])
            fin_el_scores.append(el_scores[j])
            
    start = fin_offsets[0]
    length = fin_lengths[0]
    
    rubq_test.loc[k, 'question_en_rank'] = rubq_test.loc[k, 'question'][:start]+'<e>'+rubq_test.loc[k, 'question'][start+length:]
    rubq_test.loc[k, 'scores_en_rank'] = ", ".join(map(str, fin_el_scores))

100%|██████████| 57/57 [00:00<00:00, 156.17it/s]

In [36]:
# rubq_test.to_csv('rubq_paper_res_sel_rank.csv', index = False)

In [14]:
import requests
import pandas as pd

def return_props(entity_idx):
    url = "https://query.wikidata.org/sparql"
    query = """

      SELECT DISTINCT ?property  WHERE {

        wd:<ENTITY> ?property ?object .}
            """.replace(
                "<ENTITY>", entity_idx)
    request = requests.get(url, params={"format": "json", "query": query})
    data = request.json()
    subjects = set()
    for q in range(len(data["results"]['bindings'])):
      if 'http://www.wikidata.org/prop/direct/' in data["results"]['bindings'][q]['property']['value']:
        subjects.add(data["results"]['bindings'][q]['property']['value'].split('http://www.wikidata.org/prop/direct/')[-1])


    subj_list = list(subjects)

    return subj_list

In [41]:
ents = rubq_test.loc[1, 'bela_base_ents'].split(', ')
ents

['Q2222', 'Q8261', 'Q7882782', 'Q5783996', 'Q2035679']

In [15]:
rubq_test['ids_one_hops_dict_en'] = np.nan

In [16]:
for j in tqdm(range(len(rubq_test))):
    if pd.isna(rubq_test.loc[j, 'ids_one_hops_dict_en']):
        ents = rubq_test.loc[j, 'bela_base_ents'].split(', ')
        id_rels = dict()
        for i in range(len(ents)):
            try:
                time.sleep(1)
                cur_rel = ', '.join(return_props(ents[i]))
                id_rels[ents[i]] = cur_rel
            except:
                time.sleep(1)
                continue 
        rubq_test.loc[j, 'ids_one_hops_dict_en'] = str(id_rels)

100%|██████████| 57/57 [03:13<00:00,  3.39s/it]

In [9]:
rubq_test.to_csv('lcquad_simple.csv', index = False)

In [67]:
rubq_test.to_csv('rubq_paper_res_sel_rank.csv', index = False)

In [69]:
mintaka = pd.read_csv('mintaka_paper_res_sel_rank.csv')

In [71]:
mintaka.columns

Index(['id', 'question', 'entities', 'category', 'complexityType',
       'answerType', 'answerLabel', 'questionType', 'ents_lbls', 'ents_len',
       'bela_base', 'bela_base_ents', 'mgenre_with_bela_en_ques',
       'pred_with_bela_ner_en', 'scores_with_bela_ner_en', 'pred_relation',
       'pred_prop_fast', 'pred_obj_fall_init_en', 'pred_obj_fall_init',
       'pred_obj_fast', 'pred_fin', 'pred_label_dbloss', 'max_pred_id',
       'ent_lbl', 'ner_init', 'question_ner_init', 'question_with_mintaka_ner',
       'pred_mgenre_with_spacy_ner', 'pred_mgenre_spacy_ner',
       'scores_mgenre_spacy_ner', 'ents_falcon', 'rels_falcon', 'one_hop_rels',
       'question_en_rank', 'scores_en_rank'],
      dtype='object')

In [72]:
mintaka['ids_one_hops_dict_en'] = np.nan

In [75]:
for j in tqdm(range(len(mintaka))):
    if pd.isna(mintaka.loc[j, 'ids_one_hops_dict_en']):
        ents = mintaka.loc[j, 'bela_base_ents'].split(', ')
        id_rels = dict()
        for i in range(len(ents)):
            try:
                time.sleep(1)
                cur_rel = ', '.join(return_props(ents[i]))
                id_rels[ents[i]] = cur_rel
            except:
                time.sleep(1)
                continue 
        mintaka.loc[j, 'ids_one_hops_dict_en'] = str(id_rels)

100%|██████████| 340/340 [25:50<00:00,  4.56s/it]

In [77]:
mintaka.to_csv('mintaka_paper_res_sel_rank.csv', index = False)

In [78]:
wdsq = pd.read_csv('wdsq_paper_res_sel_test.csv')

In [79]:
wdsq.columns

Index(['subject', 'property', 'object', 'question',
       'pred_on_wdsq_for_wdsq_ner', 'pred_relation_upd', 'pred_obj',
       'expected_ans', 'real_ans', 'object_gold', 'object_gold_v2',
       'pred_relation', 'm3m_sel'],
      dtype='object')

In [80]:
wdsq['ids_one_hops_dict_en'] = np.nan

In [83]:
for j in tqdm(range(len(wdsq))):
    if pd.isna(wdsq.loc[j, 'ids_one_hops_dict_en']):
        ents = wdsq.loc[j, 'pred_on_wdsq_for_wdsq_ner'].split(', ')
        id_rels = dict()
        for i in range(len(ents)):
            try:
                time.sleep(1)
                cur_rel = ', '.join(return_props(ents[i]))
                id_rels[ents[i]] = cur_rel
            except:
                time.sleep(1)
                continue 
        wdsq.loc[j, 'ids_one_hops_dict_en'] = str(id_rels)

 76%|███████▌  | 4274/5622 [4:27:26<1:26:14,  3.84s/it]IOPub message rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_msg_rate_limit`.

Current values:
NotebookApp.iopub_msg_rate_limit=1000.0 (msgs/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [87]:
wdsq.query('ids_one_hops_dict_en.isna()')

Empty DataFrame
Columns: [subject, property, object, question, pred_on_wdsq_for_wdsq_ner, pred_relation_upd, pred_obj, expected_ans, real_ans, object_gold, object_gold_v2, pred_relation, m3m_sel, ids_one_hops_dict_en]
Index: []

In [88]:
wdsq.to_csv('wdsq_paper_res_sel_test.csv', index = False)

In [1]:
import requests
import pandas as pd
import numpy as np
from tqdm import tqdm
import time

In [2]:
def run_query_object(entity_idx, property_idx):
    url = "https://query.wikidata.org/sparql"
    query = """

   SELECT ?object  WHERE {

   wd:<ENTITY> wdt:<PROPERTY> ?object .} 
        """.replace(
            "<ENTITY>", entity_idx).replace(
            "<PROPERTY>", property_idx)
     
    request = requests.get(url, params={"format": "json", "query": query})
    data = request.json()
    objects = []
    for q in range(len(data["results"]['bindings'])):
        objects.append(data["results"]['bindings'][q]['object']['value'])                 
    return ', '.join(objects)

In [4]:
mintaka = pd.read_csv('mintaka_paper_res_sel_rank.csv')

In [5]:
mintaka.columns

Index(['id', 'question', 'entities', 'category', 'complexityType',
       'answerType', 'answerLabel', 'questionType', 'ents_lbls', 'ents_len',
       'bela_base', 'bela_base_ents', 'mgenre_with_bela_en_ques',
       'pred_with_bela_ner_en', 'scores_with_bela_ner_en', 'pred_relation',
       'pred_prop_fast', 'pred_obj_fall_init_en', 'pred_obj_fall_init',
       'pred_obj_fast', 'pred_fin', 'pred_label_dbloss', 'max_pred_id',
       'ent_lbl', 'ner_init', 'question_ner_init', 'question_with_mintaka_ner',
       'pred_mgenre_with_spacy_ner', 'pred_mgenre_spacy_ner',
       'scores_mgenre_spacy_ner', 'ents_falcon', 'rels_falcon', 'one_hop_rels',
       'question_en_rank', 'scores_en_rank', 'ids_one_hops_dict_en',
       'subj_rank', 'rel_rank', 'rel_rank_id'],
      dtype='object')

In [9]:
for i in tqdm(range(len(mintaka))):
    subj = mintaka.loc[i, 'subj_rank']
    rel = mintaka.loc[i, 'rel_rank_id']
    try:
        time.sleep(1)
        ans = run_query_object(subj, rel)
        mintaka.loc[i, 'ans_rank'] = ans
    except:
        continue

100%|██████████| 340/340 [07:57<00:00,  1.41s/it]

In [24]:
for j in tqdm(range(len(mintaka))):
    cands = mintaka.loc[j, 'ans_rank'].split(', ')
    elems = []
    for k in range(len(cands)):
        if 'entity/' in cands[k]:
            elems.append(cands[k].split('entity/')[1])
        else:
            elems.append(cands[k])
    mintaka.loc[j, 'ans_rank_clean'] = ', '.join(elems)

100%|██████████| 340/340 [00:00<00:00, 5124.91it/s]

In [33]:
mintaka.columns

Index(['id', 'question', 'entities', 'category', 'complexityType',
       'answerType', 'answerLabel', 'questionType', 'ents_lbls', 'ents_len',
       'bela_base', 'bela_base_ents', 'mgenre_with_bela_en_ques',
       'pred_with_bela_ner_en', 'scores_with_bela_ner_en', 'pred_relation',
       'pred_prop_fast', 'pred_obj_fall_init_en', 'pred_obj_fall_init',
       'pred_obj_fast', 'pred_fin', 'pred_label_dbloss', 'max_pred_id',
       'ent_lbl', 'ner_init', 'question_ner_init', 'question_with_mintaka_ner',
       'pred_mgenre_with_spacy_ner', 'pred_mgenre_spacy_ner',
       'scores_mgenre_spacy_ner', 'ents_falcon', 'rels_falcon', 'one_hop_rels',
       'question_en_rank', 'scores_en_rank', 'ids_one_hops_dict_en',
       'subj_rank', 'rel_rank', 'rel_rank_id', 'ans_rank', 'ans_rank_clean'],
      dtype='object')

In [28]:
count = 0
for i in range(len(mintaka)):
    ans = mintaka.loc[i, 'ans_rank_clean'].split(', ')[0]
    if ans == mintaka.loc[i, 'answerLabel']:
        count += 1

In [30]:
print(count/len(mintaka))

0.2852941176470588

In [38]:
mintaka.columns

Index(['id', 'question', 'entities', 'category', 'complexityType',
       'answerType', 'answerLabel', 'questionType', 'ents_lbls', 'ents_len',
       'bela_base', 'bela_base_ents', 'mgenre_with_bela_en_ques',
       'pred_with_bela_ner_en', 'scores_with_bela_ner_en', 'pred_relation',
       'pred_prop_fast', 'pred_obj_fall_init_en', 'pred_obj_fall_init',
       'pred_obj_fast', 'pred_fin', 'pred_label_dbloss', 'max_pred_id',
       'ent_lbl', 'ner_init', 'question_ner_init', 'question_with_mintaka_ner',
       'pred_mgenre_with_spacy_ner', 'pred_mgenre_spacy_ner',
       'scores_mgenre_spacy_ner', 'ents_falcon', 'rels_falcon', 'one_hop_rels',
       'question_en_rank', 'scores_en_rank', 'ids_one_hops_dict_en',
       'subj_rank', 'rel_rank', 'rel_rank_id', 'ans_rank', 'ans_rank_clean'],
      dtype='object')

In [40]:
def run_query_subject(entity_idx, property_idx):
    url = "https://query.wikidata.org/sparql"
    query = """

   SELECT ?object  WHERE {

  ?subject wdt:<PROPERTY> wd:<ENTITY> .} 
        """.replace(
            "<ENTITY>", entity_idx).replace(
            "<PROPERTY>", property_idx)
     
    request = requests.get(url, params={"format": "json", "query": query})
    data = request.json()
    objects = []
    for q in range(len(data["results"]['bindings'])):
        objects.append(data["results"]['bindings'][q]['subject']['value'])                 
    return ', '.join(objects)

In [41]:
mintaka['pred_obj_maxpred'] = np.nan

In [42]:
for k in tqdm(range(len(mintaka))):
    if pd.isna(mintaka.loc[k, 'pred_obj_maxpred']) and pd.notna(mintaka.loc[k, 'max_pred_id']):
        try:
            time.sleep(1)
            cur_subjects = mintaka.loc[k, 'bela_base_ents'].split(', ')
            for w in range(len(cur_subjects)):
                cur_subj = mintaka.loc[k, 'bela_base_ents'].split(', ')[w]
                cur_rel = mintaka.loc[k, 'max_pred_id'].split(', ')[0]
                if cur_rel[0] == 'P':
                    obj_pred = run_query_object(cur_subj, cur_rel)
                    if len(obj_pred) > 0:
                        mintaka.loc[k, 'pred_obj_maxpred'] = obj_pred
                        break
                else:
                    time.sleep(1)
                    cur_rel = 'P'+cur_rel[1:]
                    obj_pred = run_query_subject(cur_subj, cur_rel)
                    if len(obj_pred) > 0:
                        mintaka.loc[k, 'pred_obj_maxpred'] = obj_pred
                        break
        except:
            time.sleep(1)
            continue

100%|██████████| 340/340 [08:34<00:00,  1.51s/it]

In [44]:
for j in tqdm(range(len(mintaka))):
    if pd.notna(mintaka.loc[j, 'pred_obj_maxpred']):
        cands = mintaka.loc[j, 'pred_obj_maxpred'].split(', ')
        elems = []
        for k in range(len(cands)):
            if 'entity/' in cands[k]:
                elems.append(cands[k].split('entity/')[1])
            else:
                elems.append(cands[k])
        mintaka.loc[j, 'ans_class_rank'] = ', '.join(elems)
    else:
        mintaka.loc[j, 'ans_class_rank'] = mintaka.loc[j, 'ans_rank_clean']

100%|██████████| 340/340 [00:00<00:00, 4577.33it/s]

In [46]:
count = 0
for i in range(len(mintaka)):
    ans = mintaka.loc[i, 'ans_rank_clean'].split(', ')[0]
    if ans == mintaka.loc[i, 'answerLabel']:
        count += 1
print(count/len(mintaka))

0.2852941176470588

In [48]:
mintaka.to_csv('mintaka_paper_res_sel_rank.csv', index = False)