In [1]:
import json
f = open('test_lcquadv2.json')
data = json.load(f)

In [2]:
from tqdm import tqdm

In [3]:
templates = set()
for i in tqdm(range(len(data))):
    if len(data[i]['template'])>0:
        templates.add(data[i]['template'])

100%|██████████| 6046/6046 [00:00<00:00, 492364.90it/s]

In [4]:
data[0]['template']

'<?S P O ; ?S InstanceOf Type>'

In [5]:
ids = []
for i in range(len(data)):
    if data[i]['template'] == '?D RDE E' or data[i]['template'] == 'E REF ?F':
        ids.append(i)
#         print(data[i]['sparql_wikidata'])

In [7]:
import pandas as pd
lcquad = pd.DataFrame(columns = ['question', 'sparql'])

In [8]:
for i in range(len(ids)):
    cur_id = ids[i]
    cur_ques = data[cur_id]['question']
    cur_sparql = data[cur_id]['sparql_wikidata']
    lcquad.loc[i, 'question'] = cur_ques
    lcquad.loc[i, 'sparql'] = cur_sparql

In [9]:
for i in range(len(lcquad)):
    lcquad.loc[i, 'entity'] = lcquad.loc[i, 'sparql'].split('wd:')[-1].split('}')[0]

In [10]:
for i in range(len(lcquad)):
    lcquad.loc[i, 'entity'] = lcquad.loc[i, 'entity'].split( )[0]

In [11]:
for i in range(len(lcquad)):
    lcquad.loc[i, 'relation'] = lcquad.loc[i, 'sparql'].split('wdt:')[-1].split(' ')[0]

In [12]:
lcquad[:100]

,question,sparql,entity,relation
0,On Lake Winnipeg what is the lakes on river?,select distinct ?answer where { ?answer wdt:P4...,Q3272,P469
1,Which is the PIM authority ID of Paul Erdős?,select distinct ?answer where { wd:Q173746 wdt...,Q173746,P3973
2,What is the MIA constituent ID for Johannes Gu...,select distinct ?answer where { wd:Q8958 wdt:P...,Q8958,P3603
3,What is in the category of Percy Bysshe Shelley?,select distinct ?answer where { wd:Q93343 wdt:...,Q93343,P5506
4,What is the TDKIV ID for the blog?,select distinct ?answer where { wd:Q30849 wdt:...,Q30849,P5398
...,...,...,...,...
95,Which is the Deutsche Synchronkartei film ID o...,select distinct ?answer where { wd:Q216006 wdt...,Q216006,P3844
96,What is language is spoken by the Gujarati peo...,select distinct ?answer where { ?answer wdt:P2...,Q5137,P2936
97,What is image of function for sine ?,select distinct ?answer where { wd:Q152415 wdt...,Q152415,P2396
98,Which is the diaspora of the African Americans?,select distinct ?answer where { wd:Q49085 wdt:...,Q49085,P3833
99,Which is the Basketball-Reference.com NBA coac...,select distinct ?answer where { wd:Q314185 wdt...,Q314185,P4718

In [106]:
lcquad.to_csv('lcquad_simple.csv', index = False)